//trace.overwrite = true
params {
    reads                 = "${launchDir}/exRNA_Species/*_sRNA/*fastq.gz"
    genomes               = "${launchDir}/genome/*/*_genome.fa"
    genomes_dirs          = "${launchDir}/genome/*"
    outdir                = "${launchDir}/results"
    min_length            = 10
    max_length            = 50
    adapter               = null  // Set to null to use --small_rna, or specify custom adapter
    use_small_rna_adapter = true  // Use Illumina small RNA adapter (TGGAATTC)
    outdir                = "${launchDir}/results" 
    mismatches            = 0
    max_feature_types     = 10
    w_seg                 = null
    exclude_prefix        = "Aco"   // comma-separated list of prefixes to exclude
}

report.overwrite = true
trace {
    enabled = true
    file = "./results/trace.txt"
    overwrite = true
}
report {
    enabled = true
    file = "./results/runReportSummary.html"
    overwrite = true
}

dag {
    enabled = true
    file = "./results/DAG.html"
    overwrite = true
}

workflow.onComplete = {
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something went wrong"
}

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '10GB'
    }

    cloud {
        process.executor = 'cirrus'
        process.container = 'cbcrg/imagex'
        docker.enabled = true
    }
}
